
:root {
  --rosedingz : #ffd3eb;
  --beigedingz : #fffbef;
  --orangedingz : #f8de91;
  --vertdingz : #a1e2bc;
  --violetdingz : #efe8f7;
  --vertflashydingz : #caff33;
  --jaunedingz : #edf57a;
}

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: SpoofTrial;
  overflow-x: hidden;


}

#root {
  min-height: 400vh;
}
body{
  width: 100vw;
  height: 400vh;
}

main{
  padding-top: 25vh;

}


@font-face {
  font-family: Siffea;
  src: url(src/assets/fonts/siffea.ttf);
}
@font-face {
  font-family: SpoofTrial;
  src: url(src/assets/fonts/SpoofTrial-Medium.otf);
}
@font-face {
  font-family: Monstac;
  src: url(src/assets/fonts/monstac-realmid.ttf);
}
@font-face {
  font-family: Fiontina;
  src: url(src/assets/fonts/fiontina.ttf);
}

@font-face {
  font-family: Madiosa;
  src: url(src/assets/fonts/madiosa.ttf);
}



